:root{
    --primario: #fff;
    --secundario: #57A5FF;
    --tercero: #E0844E;
    --terceroOscuro: #b45a25;
    --cuarto: #8A4AE0;
    --quinto: #F8D252;
    --negro: #000;
    --texto: #343434;

    --fuentePrincipal: 'Poppins', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}

/*Globales*/
body{
    background: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.contenedor{
    margin: 0 auto;
}
h1,h2,h3{
    font-family: var(--fuentePrincipal);
    text-align: center;
    color: var(--secundario)
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
/* header */
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--cuarto);
    padding: 2rem;
}
.menu__navegacion a{
    text-decoration: none;
    border: 1px solid var(--tercero);
    background-color: var(--quinto);
    color: #494949;
    padding: 1rem 3rem;
}
.menu__navegacion a:hover{
    background-color: var(--terceroOscuro);
    color: var(--primario);
}

/*Contenedores*/
.contenedor__primero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 120rem;
    margin: 0 auto;
}
.contenedor__primero__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenedor__primero__info h2{
    font-size: 1.4rem;
    color: var(--texto);
}
.contenedor__secundario{
    background-color: var(--secundario);
}
.contenedor__secundario--maxwidth{
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-top: 2rem;
}
.contenedor__secundario__imagen{
    width: 100%;
}
.contenedor__secundario__info h2 {
    color: var(--quinto);
}
.contenedor__secundario__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4rem;
}
.contenedor__secundario__lista li{
    list-style: none;
}
.contenedor__secundario__lista li a{
    color: var(--quinto);
    background-color: var(--negro);
    border: var(--quinto) solid 1px;
    padding: 1rem 3rem;
}
/* Curso */
.contenedor__curso{
    display: none;
    height: 10vh;
}